<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="main.html" method="POST">
    <fieldset align="center" style="font-size:25px">
        <legend>What do you read today?</legend>
        <input name="news_title" required>
        <br>
        <input type="submit" value="Classify!">
    </fieldset>
</form>
<br>
<div class="row" align="center">
    {% if predictions %}
    <p style="font-size:25px">
        The news is %{{ predictions['result'] }}% a sport news!
    </p>
    {% endif %}
</div>
</body>
</html>